@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Painting Desk</h1>
</div>

<div class="row justify-content-center mb-3">
    <div class="col-8">
        Welcome to <em>Painting Desk</em>! Here to help you tackle that pile of shame spilling
        out from your hobby space. Why not signup and get started?
    </div>
</div>
