@page "{tagId:int}"
@model Desk.WebUI.Pages.Tags.DeleteModel
@{
    ViewData["Title"] = "Delete Tag";
}

<div class="card mb-3">
    <div class="card-body">
        <div class="card-title">
            <h1>Delete Tag - @Model.Tag?.Name?</h1>
        </div>
        <div class="card-text">
            This operation cannot be undone.
        </div>
    </div>
    <div class="card-footer">
        <form method="post">
            <input type="submit" class="btn btn-danger" value="Delete" />
            | <a asp-page="/Tags/List">Cancel</a>
        </form>
    </div>
</div>


