@page "{itemId:int}"
@model Desk.WebUI.Pages.Items.ViewModel
@{
    ViewData["Title"] = "View Item";
}

<div class="text-center">
    <h1 class="display-4">@Model.Item!.Name</h1>
</div>

<div class="row justify-content-center mb-3">
    <div class="col-8">
        Model stuff goes here...
    </div>
</div>

Comments go here...
